<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="ink.css">

    <style type="text/css">

    </style>
</head>
<body style="background: #ECECEC">

<tr align="center" style="background: #ffffff">
    <td class="spacer" width="20" align="left" valign="top" bgcolor="#ffffff">
        <br/>
    </td>
    <td align="center" style="background: #ffffff">
        <div style="background-color:#fff; margin: 20px; padding:50px; -webkit-border-radius: 20px;-moz-border-radius:20px;border-radius: 20px;text-align: center">
            <table class="table mceItemTable" style="margin: auto;" border="0" cellspacing="0" cellpadding="0" width="580">
                <tbody>
                <tr align="center" style="text-align:left; background: #ffffff">
                    <td align="left" style="display:inline-block;">
                        <p style="margin-left: 10px; margin-top: 10px; margin-bottom: 5px; font-size:35px;line-height:60px;text-align:left;color:#000000;-webkit-text-size-adjust:none;font-family: \'Helvetica Neue\',Helvetica,Arial,sans-serif;"><img style="-webkit-border-radius: 25%;-moz-border-radius:25%;border-radius: 25%; width: 50px;" src="https://insapp.fr/icon.png" align="left" valign="top" vspace="5" hspace="5"/>Insapp</p>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="background: #ffffff">
                        <h2 style="font-size:40px;line-height:21px;margin-bottom:50px;margin-top:50px;padding:0;text-align:center;color:#000000;-webkit-text-size-adjust:none;font-family: \'Helvetica Neue\',Helvetica,Arial,sans-serif;">Nouveau Commentaire</h1>
                            <p style="font-size:20px;line-height:21px;margin-bottom:10px;margin-top:50px;padding:0;text-align:center;color:#000000;-webkit-text-size-adjust:none;font-family: \'Helvetica Neue\',Helvetica,Arial,sans-serif;">Sur ton évènement : {{.EventName}}</p>
                            <img style="width: 50%;" alt="" src={{.EventImage}}>
                            <p style="font-size:15px;line-height:21px;margin-bottom:50px;margin-top:0px;padding:0;text-align:center;color:#000000;-webkit-text-size-adjust:none;font-family: \'Helvetica Neue\',Helvetica,Arial,sans-serif;">"<i>{{.EventDescription}}</i>"</p>
                            <p style="font-size:20px;line-height:21px;margin-left: 20px; margin-bottom:10px;margin-top:50px;padding:0;text-align:left;color:#000000;-webkit-text-size-adjust:none;font-family: \'Helvetica Neue\',Helvetica,Arial,sans-serif;">Commentaire :</p>
                            <table class="table mceItemTable" style="margin-left: 20px; margin-right: 20px;background: #ECECEC" border="0" cellspacing="0" cellpadding="0" width="580">
                                <tbody>
                                <tr align="center" style="text-align:left; background: #f8f8f8">
                                    <td align="left">
                                        <p style="margin-left: 10px; margin-top: 10px; margin-bottom: 5px; font-size:15px;line-height:15px;text-align:left;color:#000000;-webkit-text-size-adjust:none;font-family: \'Helvetica Neue\',Helvetica,Arial,sans-serif;">@{{.Username}}</p>
                                    </td>
                                    <td align="left">
                                        <p style="margin: 15px; font-size:15px;line-height:15px;text-align:left;color:#000000;-webkit-text-size-adjust:none;font-family: \'Helvetica Neue\',Helvetica,Arial,sans-serif;">"{{.CommentContent}}"</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <p style="font-size:15px;line-height:21px;margin-bottom:50px;margin-top:50px;padding:0;text-align:center;color:#000000;-webkit-text-size-adjust:none;font-family: \'Helvetica Neue\',Helvetica,Arial,sans-serif;">
                                Pour répondre, tu peux te rendre sur l'application Insapp. Si tu souhaites modérer ce
                                commentaire ou désactiver ces emails, tu peux te rendre sur ta page d'administration <a
                                        href="https://insapp.fr/admin">ici</a>.</p>
                            <h3 style="font-size:16px;line-height:16px;margin:10px;padding:0;text-align:center;color:#333333;-webkit-text-size-adjust:none;font-family: \'Helvetica Neue\',Helvetica,Arial,sans-serif;">
                                Amicalement,<br/><br/>L'équipe d'Insapp
                            </h3>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </td>
    <td class="spacer" width="20" align="right" valign="top" bgcolor="#ffffff">
        <br/>
    </td>
</tr>

<p style="font-size:14px;line-height:16px;margin:0;padding:0;text-align:center;color:#666666;-webkit-text-size-adjust:none;font-family: \'Helvetica Neue\',Helvetica,Arial,sans-serif;">
    En cas de problème tu peux nous contacter sur <b>aeir-insapp@insa-rennes.fr</b> ou via notre page <a
            href="https://www.facebook.com/insapp.crew/">Facebook</a>.</p>
<br/>
<p style="font-size:14px;line-height:16px;margin:0;padding:0;text-align:center;color:#666666;-webkit-text-size-adjust:none;font-family: \'Helvetica Neue\',Helvetica,Arial,sans-serif;"><a href="https://insapp.fr/">https://insapp.fr/</a></p>

</body>
</html>