<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <meta name="viewport" content="width=device-width"/>

    <link rel="stylesheet" href="ink.css"> <!-- For testing only -->

    <style type="text/css">

    </style>
</head>
<body>

<tr align="center">
    <td class="spacer" width="20" align="left" valign="top" bgcolor="#ffffff">
        <br/>
    </td>
    <td align="center">
        <table class="table mceItemTable" style="margin: auto;" border="0" cellspacing="0" cellpadding="0" width="580">
            <tbody>
            <tr>
                <td>
                    <br/>
                </td>
            </tr>
            <tr align="center" style="text-align:center;">
                <td align="center" style="display:inline-block;">
                    <img style="-webkit-border-radius: 25%;-moz-border-radius:25%;border-radius: 25%;" alt="" src="https://insapp.fr/icon.png">
                </td>
            </tr>
            <tr>
                <td>
                    <br/>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <h1 style="font-size:50px;line-height:21px;margin-bottom:50px;margin-top:50px;padding:0;text-align:center;color:#000000;-webkit-text-size-adjust:none;font-family: \'Helvetica Neue\',Helvetica,Arial,sans-serif;">Ton compte Insapp</h1>
                    <h2 style="font-size: 25px;line-height: 30px;margin-bottom:0px;margin-top:20px;padding:0;text-align:center;color:#000000;-webkit-text-size-adjust:none;font-family: \'Helvetica Neue\',Helvetica,Arial,sans-serif;">{{.Email}}</h2>
                    <h2 style="font-size: 25px;line-height: 30px;margin-bottom:20px;margin-top:0;padding:0;text-align:center;color:#000000;-webkit-text-size-adjust:none;font-family: \'Helvetica Neue\',Helvetica,Arial,sans-serif;">{{.Password}}</h2>
                    <h4 style="font-size:14px;line-height:16px;margin:0;padding:0;text-align:center;color:#666666;-webkit-text-size-adjust:none;font-family: \'Helvetica Neue\',Helvetica,Arial,sans-serif;">
                        Voici tes identifiants Insapp. En tant qu'association, tu peux désormais poster les évènements
                        de ton association. Customise ta page, poste des news et communique avec les étudiants INSA !
                        Pour ce faire, rends-toi sur <a href="https://insapp.fr/admin">insapp.fr/admin</a>
                        et rentre tes identifiants.
                    </h4>
                    <br/>
                    <h4 style="font-size:14px;line-height:16px;margin:0;padding:0;text-align:center;color:#666666;-webkit-text-size-adjust:none;font-family: \'Helvetica Neue\',Helvetica,Arial,sans-serif;">
                        En cas de problème tu peux nous contacter sur <a href="mailto:aeir-insapp@insa-rennes.fr">aeir-insapp@insa-rennes.fr</a>.
                    </h4>
                    <br/><br/><br/>
                    <h3 style="font-size:16px;line-height:16px;margin:0;padding:0;text-align:center;color:#333333;-webkit-text-size-adjust:none;font-family: \'Helvetica Neue\',Helvetica,Arial,sans-serif;">
                        Amicalement,<br/><br/>L'équipe d'Insapp
                    </h3>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
    <td class="spacer" width="20" align="right" valign="top" bgcolor="#ffffff">
        <br/>
    </td>
</tr>

</body>
</html>